.h{
    margin-right: 10px;
    margin-left: 10px;
}
.hhg{
    
  position: fixed;
}

.example-container {
    height: 1000px;
    border: 1px solid #555;
  }

  .f{
    position:relative;
    top:0px;
  }
.list-horizontal{
    width: 200px;
}
mat-sidenav{
    background-color: #343232
}
.color{
    color: #7D7D7D
}