<mat-sidenav-container class="example-container">
    <mat-sidenav opened mode="side" >
        <mat-nav-list  class="list-horizontal">
            <mat-list-item>
                <a class="color" [routerLink]="['/']">Acceuil</a>
              </mat-list-item>
              <mat-list-item>
                <a class="color" [routerLink]="['/client']">Créer Compte</a>
              </mat-list-item>
              <mat-list-item>
                <a class="color" [routerLink]="['/list-client']">Compte Etudiants</a>
            </mat-list-item>
            <mat-list-item>
                <a class="color" [routerLink]="['/list-Fournisseu']">Compte Opérateurs</a>
              </mat-list-item>
              <mat-list-item>
                <a class="color" [routerLink]="['/list-Fournisseu']">Compte Professeurs</a>
              </mat-list-item>
              <mat-list-item>
                <a class="color" [routerLink]="['/list-Produit']">Créer Filiere</a>
            </mat-list-item>
            <mat-list-item>
                <a class="color" [routerLink]="['/list-Produit']">Gestion Filiere</a>
              </mat-list-item>
        </mat-nav-list> 
    </mat-sidenav>
    <div class="h ">
        <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-container>
  