<mat-toolbar style ="background-color:#8B0000;" class="f">
    <h1 style="color:aliceblue">Utilisateur</h1>                  
    
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
<mat-grid-list cols="2" rowHeight="300px">
<mat-grid-tile>
    <div class="controles-container">
        <input type="hidden" formControlName="id">
        <mat-form-field>
            <input formControlName="profils" matInput placeholder="Profil*">
            <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="dateCreate" matInput placeholder="dateCreate">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="dateFin" matInput placeholder="dateFin*">            
        </mat-form-field>
        <mat-form-field>
            <input formControlName="photoU" matInput placeholder="photoU">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="email" matInput placeholder="Email">
            <mat-error>Invalid email address.</mat-error>
        </mat-form-field>

        <div class="button-row">
            <button mat-raisedbutton color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
    </div>
</mat-grid-tile>
</mat-grid-list>
</form>