<mat-toolbar style ="background-color:#8B0000;" class="f">
        <h1 style="color:aliceblue"> Fournisseur</h1>                  
        
    </mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
        <div class="controles-container">
            <input type="hidden" formControlName="id">
            <mat-form-field>
                <input formControlName="nomF" matInput placeholder="Nom*">
                <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="nomCourtF" matInput placeholder="nomCourtF">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="villeF" matInput placeholder="villeF">
                <mat-error>Invalid email address.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="AdresseF" matInput placeholder="AdresseF">     
            </mat-form-field>
            
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="controles-container">
            <mat-form-field>
                <input formControlName="Tel_fixF" matInput placeholder="Tel_fixF">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="Tel_mobileF" matInput placeholder="Tel_mobileF">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="emailF" matInput placeholder="emailF">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="FaxF" matInput placeholder="FaxF">
            </mat-form-field>
            <div class="button-row">
                <button mat-raisedbutton color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
        </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>